#Unreal Engine Cash folder
Binaries
Build
Config
DerivedDataCache
Intermediate
package
Saved

#Visual Studio Code Cash folder
.vscode

#Visual Studio Cash folder
.vs
*.exe

#Custom ignore properties
*.mp4